<li class="logo">
  <p>{{#if website}}<a href="{{website}}" title="{{name}}">{{/if}}
    <img src="{{logo}}" alt="{{name}}">
  {{#if website}}</a>{{/if}}</p>
  {{#if copy}}
  <p>{{{copy}}}</p>
  {{/if}}
</li>