<div class="image-wrap">
  <a href="/{{path}}" title="{{title}}" style="background-image: url('/images/speakers/{{ speaker.image }}');">
    <img src="/images/speakers/{{ speaker.image }}" alt="{{title}}">
  </a>
</div>