<li class="logo">
  {{#if website}}<a href="{{website}}" title="{{name}}">{{/if}}
    <img src="{{logo}}" alt="{{name}}">
  {{#if website}}</a>{{/if}}
  {{#if copy}}
  <p>{{{copy}}}</p>
  {{/if}}
</li>