<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>{{#if title}}{{fullname title}} | {{/if}}{{site.title}}</title>
<meta name="description" content="{{ description }}">

<link rel="author" href="/humans.txt">
<link rel="manifest" type="application/manifest+json" href="/manifest.json">

<meta name="mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="application-name" content="{{ site.title }}">
<meta name="apple-mobile-web-app-title" content="{{ site.title }}">
<meta name="msapplication-starturl" content="{{ site.baseurl }}">
<meta name="theme-color" content="#{{ site.color }}">
<meta name="msapplication-navbutton-color" content="#{{ site.color }}">
<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
<!--[if (IEMobile)]>
<meta http-equiv="cleartype" content="on">
<![endif]-->

{{>page-favicons}}

<!-- The URL -->
<link rel="canonical" href="/{{ path }}">

{{>social-twitter}}

{{>social-og}}

<!-- Google Sitelinks Searchbox -->
<script type="application/ld+json">
    {
        "@context": "http://schema.org",
        "type": "WebSite",
        "url": "{{site.URL}}{{#isnt path 'index.md'}}/{{path}}{{/isnt}}",
        "headline": "{{#if title}}{{fullname title}} | {{/if}}{{site.title}}",
        "description": "{{ description }}",
        "author": {
            "@type": "Organisation",
            "name": "London Web Standards"
        },
        "sameAs": [
            "https://twitter.com/webstandards",
            "https://www.facebook.com/londonwebstandards"
        ]
    }
</script>

<!--[if IE]>
  <link rel="stylesheet" href="/styles/main.css">
<![endif]-->
<link rel="stylesheet" href="/styles/main.css">

<!-- Google Fonts - Sans serif / Serif pairing -->
<link href="https://fonts.googleapis.com/css?family=Dosis:400,600" rel="stylesheet">
