<li class="twitter-card">
  <a href="https://twitter.com/{{twitter}}" title="{{name}} {{surname}}'s Twitter profile">
    <img src="/images/supporters/{{image}}" alt="{{name}} {{surname}}">
    {{name}} {{surname}}
  </a>
</li>