<!doctype html>
<html class="no-js" lang="en">
  <head>
    {{>head}}
    {{>favicons}}
    {{>twitter-card}}
    {{>og}}
    {{>analytics}}
  </head>
  <body>
    {{>async-css}}
    {{>nav}}

    {{>header}}

    <main class="site-content">


      {{#if data}}
      <div class="row align-center">
      <div class="large-6">
        <h3>{{data.date}}</h3>
        <table class="schedule">
          {{#data.schedule}}
          <tr class="schedule__row">
            <td class="schedule__time"><time>{{time}}</time></td>
            <td{{#if name }} class="schedule__talk"{{/if}}>
              {{#if link }}
                <a href="/speakers/{{link}}">
              {{else}}
                <em>
              {{/if}}
              {{title}}
              {{#if link }}
                </a> 
              {{else}}
                </em>
              {{/if}}
              {{#if name }}&mdash; {{name}}{{/if}}
            </td>
          </tr>
          {{/data.schedule}}
        </table>
      </div></div>
      {{/if}}
      
      <div class="row">
        <div class="large-12 text-center column">
          {{{contents}}}
        </div>
      </div>
    </main>

    {{>footer}}

    <script src="/assets/js/app.js"></script>
  </body>
</html>