{{#extend 'page'}}

{{#content 'main'}}
<article>
  <h1>{{title}}</h1>

  {{{contents}}}

  {{#if data}}
    <ul class="schedule">
      {{#data.schedule}}
      <li class="schedule__slot{{#if link}} schedule__slot--talk{{/if}}">
        <time>{{time}}</time>
        <h2>
          {{#if link }}<a href="/speakers/{{link}}">{{else}}<em>{{/if}}
          {{{title}}}
          {{#if link }}</a>{{else}}</em>{{/if}}
          {{#if name }}&mdash; {{name}}{{/if}}
          {{!-- {{#if twitter }}<a href="https://twitter.com/{{twitter}}" rel="external noopener">@{{twitter}}</a>{{/if}} --}}
        </h2>
      </li>
      {{/data.schedule}}
    </ul>
  {{/if}}
</article>
{{/content}}

{{/extend}}
