{{#extend 'page'}}

{{#content 'main'}}
<article>
  <h1>{{title}}</h1>
  
  {{{contents}}}

  {{#if data}}
    <ul class="schedule">
      {{#data.schedule}}
      <li>
        <time>{{time}}</time>
        <h2>
          {{#if link }}<a href="/speakers/{{link}}">{{else}}<em>{{/if}}
          {{{title}}}
          {{#if link }}</a>{{else}}</em>{{/if}}
          {{#if name }}&mdash; {{name}}{{/if}}
        </h2>
      </li>
      {{/data.schedule}}
    </li>
  {{/if}}
</article>
{{/content}}

{{/extend}}