{{#extend "page"}}

  {{#content "main"}}
  <article class="speaker">
    <div class="speaker__talk">
      <h1>{{ description }}</h1>
      {{{contents}}}

      {{#if talk.youtube}}
        <h2>Video:</h2>
        <figure class="media  media--video">
          <iframe src="https://www.youtube.com/embed/{{talk.youtube}}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </figure>
      {{/if}}

      {{#if talk.transcript}}
        <h2>Transcript</h2>
        <details>
          <summary>
            <strong>Read all →</strong>
          </summary>
          <blockquote>
            <pre>{{talk.transcript}}</pre>
          </blockquote>
        </details>
      {{/if}}

      {{#if talk.slides}}
        <h2>Slides:</h2>
        <figure class="media  media--4-by-3">
          <iframe src="{{talk.slides}}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </figure>
      {{/if}}

      {{#if talk.links}}
        <h2>Further Reading and Links:</h2>
        <ul>
          {{#talk.links}}
            <li><a href="{{link}}">{{link}}</a></li>
          {{/talk.links}}
        </ul>
      {{/if}}

      <footer>
        <nav>
          <ul class="list-inline">
            <li>
              <a class="is-button" href="/speakers">View all Speakers</a>
            </li>
            <li>
              <a class="is-button" href="/schedule/">See full schedule</a>
            </li>
          </ul>
        </nav>
      </footer>
    </div>

    <aside class="speaker__info">
      <h2>About {{title}}</h2>
      <div class="image-wrap image-wrap--portrait">
        <img src="/images/speakers/{{ speaker.image }}" alt="{{title}}">
      </div>
      {{{ speaker.bio }}}
      <ul class="list-inline">
        <li>
          {{#if speaker.twitter }}
            <a href="https://twitter.com/{{ speaker.twitter }}" title="{{ title }} on Twitter" rel="external">@{{ speaker.twitter }}</a>
          {{/if}}
        </li>
        <li>
          {{#if speaker.website }}
            <a href="{{ speaker.website }}" title="{{ title }}’s Website" rel="external">{{ speaker.website }}</a>
          {{/if}}
        </li>
      </ul>
    </aside>
  </article>
  {{/content}}

{{/extend}}
