{{#extend "page"}}

  {{#content "main"}}
  <article class="speaker">
    <div class="speaker__talk">
      <h1>{{ description }}</h1>
      {{{contents}}}

      <footer>
        <nav>
          <ul class="list-inline">
            <li>
              <a class="is-button" href="/speakers">View all Speakers</a>
            </li>
            <li>
              <a class="is-button">See full schedule</a>
            </li>
          </ul>
        </nav>
      </footer>
    </div>

    <aside class="speaker__info">
      <h2>About {{title}}</h2>
      <div class="image-wrap image-wrap--portrait">
        <img src="/images/speakers/{{ speaker.image }}" alt="{{title}}">
      </div>
      {{{ speaker.bio }}}
      <ul class="list-inline">
        <li>
          {{#if speaker.twitter }}
            <a href="https://twitter.com/{{ speaker.twitter }}" title="{{ title }} on Twitter" rel="external">@{{ speaker.twitter }}</a>
          {{/if}}
        </li>
        <li>
          {{#if speaker.website }}
            <a href="{{ speaker.website }}" title="{{ title }}’s Website" rel="external">{{ speaker.website }}</a>
          {{/if}}
        </li>
      </ul>
    </aside>
  </article>
  {{/content}}

{{/extend}}
