{{#extend "page"}}

  {{#content "main"}}
  <div class="featured-speaker">
      <div class="featured-speaker__biography">
          <div class="speaker__contained">
              <img class="speaker__image" src="/images/speakers/{{ image }}" alt="{{title}}">
              <div class="speaker__title">{{ title }}</div>
          </div>
          <div class="speaker__description">
              {{ speaker.bio }}
              {{#if speaker.twitter }}
                  <div><a href="https://twitter.com/{{ speaker.twitter }}" title="{{ title }} on Twitter">@{{ speaker.twitter }}</a></div>
              {{/if}}
              {{#if speaker.website }}
                  <div><a href="{{ speaker.website }}" title="{{ title }}’s Website">{{ speaker.website }}</a></div>
              {{/if}}
          </div>
      </div>
      <div class="featured-speaker__presentation">
        {{{content}}}
      </div>
  </div>

  <nav role="navigation" class="button-navigation  button-navigation--centered">
      <a class="button" href="/speakers">View all Speakers</a>
§  </nav>
  {{/content}}

{{/extend}}