{{#extend "page"}}

{{#content "main"}}
<section>
  <h1 class="no-bg">{{title}}</h1>
  {{#if data}}
    <ul class="sponsor-list">
      {{#data}}
        <li class="logo logo--{{size}}">
          {{#if website}}<a href="{{website}}" title="{{name}}">{{/if}}
            <img src="{{logo}}" alt="{{name}}">
          {{#if website}}</a>{{/if}}
        </li>
      {{/data}}
    </ul>
  {{/if}}
</section>
<section>
  {{{contents}}}
</section>
{{/content}}

{{/extend}}