<article class="talk talk--large">
  {{#if speaker}}
    <div class="speaker__card row align-center">
      <div class="medium-3 columns">
        <img class="speaker__picture" src="/assets/img/{{speaker.picture}}">
      </div>
      <div class="medium-6 columns speaker__content">
        <p>{{{speaker.bio}}}</p>
        <p><a class="speaker__twitter" href="https://twitter.com/{{speaker.twitter}}" title="{{speaker.name}}'s Twitter profile">@{{speaker.twitter}}</a></p>
      </div>
    </div>
  {{else}}
    <ul class="row align-center speaker__list">
    {{#each speakers}}
      <li class="medium-6 column talk__speaker">
        <div class="speaker__card row">
          <div class="medium-4 column">
            <img class="speaker__picture" src="/assets/img/{{picture}}">
          </div>
          <div class="medium-8 column speaker__content">
            <p>{{bio}}</p>
            <p><a class="speaker__twitter" href="https://twitter.com/{{twitter}}" title="{{name}}'s Twitter profile">@{{twitter}}</a></p>
          </div>
        </div>
      </li>
    {{/each}}
    </ul>
  {{/if}}
  <div class="row">
    <div class="large-12 column">
      {{{contents}}}
    </div>
  </div>
</article>