<article class="speaker--card">
  {{#if this.speaker}}
    <img class="speaker__picture" src="/assets/img/{{this.speaker.picture}}">
    <h3 class="speaker__name">
      <a href="https://twitter.com/{{this.speaker.twitter}}" title="{{this.speaker.name}}'s Twitter profile">
        {{this.speaker.name}}
      </a>
    </h3>
  {{else}}
    <ul class="speaker__picture-list">
    {{#each this.speakers}}
      <li>
        <img class="speaker__picture" src="/assets/img/{{this.picture}}">
      </li>          
    {{/each}}
    </ul>
    <h3 class="speaker__name">
      {{#each this.speakers}}
        {{#if @last }}
        &amp;
        {{/if}}
        <a href="https://twitter.com/{{this.twitter}}" title="{{this.name}}'s Twitter profile">
          {{this.name}}
        </a>
      {{/each}}
    </h3>
  {{/if}}
  <p class="speaker__talk subheader">{{ this.description }}</p>
</article>