<article class="speaker__card">
  {{#if speaker}}
    {{#unless draft}}
    <a title="See details about {{speaker.name}}'s talk" href="/{{path}}"> 
    {{/unless}}
      <img class="speaker__picture" src="/assets/img/{{speaker.picture}}">
    {{#unless draft}}
    </a>
    {{/unless}}
    <h3 class="speaker__name">
      {{#if draft }}
      <a title="{{speaker.name}} Twitter Profile" href="https://twitter.com/{{speaker.twitter}}">
      {{else}}
      <a title="See details about {{speaker.name}}'s talk" href="/{{path}}">
      {{/if}}
        {{speaker.name}}
      </a>
    </h3>
  {{else}}
    <ul class="speaker__picture-list">
    {{#speakers}}
      <li>
         <a title="See details about the talk" href="/{{../path}}"> 
          <img class="speaker__picture" src="/assets/img/{{picture}}">
         </a> 
      </li>          
    {{/speakers}}
    </ul>
    <h3 class="speaker__name">
      {{#each speakers}}
        {{#if @last }}
        &amp;
        {{/if}}
        <a title="See details about {{name}}'s talk" href="/{{../path}}">
          {{name}}
        </a>
      {{/each}}
    </h3>
  {{/if}}
  <p class="speaker__talk subheader">
    {{#unless draft}}<a title="See details about the talk '{{description}}'" href="/{{path}}">{{/unless}}
    {{ description }}
    {{#unless draft}}</a>{{/unless}}
  </p>
</article>