<article class="speaker--card">
  <img class="speaker__picture" src="/assets/img/{{this.picture}}">
  <h3 class="speaker__name">
    <a href="https://twitter.com/{{this.twitter}}" title="{{this.title}}'s Twitter profile">
      {{this.title}}
    </a>
  </h3>
  <p class="speaker__talk subheader">{{ this.description }}</p>
</article>