<!doctype html>
<html class="no-js" lang="en">
  <head>
    {{>head}}
    {{>favicons}}
    {{>twitter-card}}
    {{>og}}
    {{>analytics}}
  </head>
  <body>
    {{>async-css}}
    {{>nav}}

    {{>header}}

    <main class="site-content">
      
      <div class="row">
        <div class="large-12 text-center column">
          {{{contents}}}
        </div>
      </div>

      {{#if data}}
      <div class="row align-center">
        <div class="small-12 large-6">
          <ul class="lunch-list row align-center">
            {{#data}}
              <li class="small-8 large-6 columns">
                <article class="place">
                  <h3 class="place__title">
                    {{#website}}<a href="{{website}}" title="{{name}} website">{{/website}}
                      {{name}}
                    {{#website}}</a>{{/website}}
                  </h3>
                  <p><a href="{{googlemaps}}" title="See {{name}} on Google Maps">{{address}}</a></p>
                  <p>{{type}} - {{distance}} walk</p>
                </article>
              </li>
            {{/data}}
          </ul>
        </div>
      </div>
      {{/if}}
    </main>

    {{>footer}}

  </body>
</html>